# LACC 2021 Module 1
# Python Introduction

This is your jupyter notebook for the first module. Feel free to edit it to your liking (notes, comments etc.)

## Part 1: Variables, Types & Operators
## Warm-up

Let's start with something simple. Click on the cell below and assign numerical values to variables __a__ and __b__. Then press _Ctrl+Enter_ to run it and see the output. Feel free to change the values and operators and re-run.

In [ ]:
# Assign values here
a = 6
b = 10

c = a + b
d = a * b
e = a - b
f = a / b

# Don't worry about this for now, but if you want to understand how this print function works,
# here's the breakdown:
# 1. Multiple strings can be merged using addition operator +
# 2. Numerical values can be converted to string by calling the str() function on them
# 3. So we convert are results to strings and merge them with other strings to create a single one
print("Sum: " + str(c) + ", product: " + str(d) + ", difference " + str(e) + ", quotient: " + str(f))

Sum: 16, product: 60, difference -4, quotient: 0.6

Now let's quickly look at boolean variables and comparison operators. If you run the code below, you can see the results of some comparisons of variables "a" and "b" you defined above. Notice that the result of the comparison is either __True__ or __False__ - those are called boolean values.

If you change the a/b variables above, remember to re-run the above cell to update those values.

In [ ]:
# You don't need to change this code in any way
print ("Is a equal to b? "           + str( a == b ))
print ("Is a different than b? "     + str( a != b ))
print ("Is a greater than b? "       + str( a >  b ))
print ("Is a less or equal than b? " + str( a <= b ))

Is a equal to b? False
Is a different than b? True
Is a greater than b? False
Is a less or equal than b? True

## Exercise 1 - Lists

Now let's play around with lists a bit. A five element list __L__ is defined in the cell below. Write the code to do the following:
* Print the second item in this list.
* Get the sum of all the values in this list.
* Append value 7 after value 6 into the list.
* Using range, print all the even numbers from 4 to 12 (inlcuding 12). 

To print out a numerical value, you need to convert it to a string, e.g.:<br>
s = 4<br>
print("Value of s: " + str(s))

In [ ]:
# This is list you will be working on:
L = [ 2, 3, 4, 5, 6 ]

# Write your code below
# Print the second item in this list:

second = L[1]

print ("Second item in the list L is: " + str(second))

# Get the sum of all the values in this list:

s = sum(L)

print ("Sum of the elements in the list is: " + str(s))

# Append value 7 after 6 into the list:

L = L+[7]
print ("Expanded list: " + str(L))

# Using range, print all the even numbers from 4 to 12. 

R = range(4,13,2)

print ("Even list: ", *R)

Second item in the list L is: 3
Sum of the elements in the list is: 20
Expanded list: [2, 3, 4, 5, 6, 7]
Even list: range(4, 13, 2)

## Exercise 2 - Strings

Given the string defined below, write the code to do the following:
* Print the fifth letter in the string.
* Capitalize all letters.
* Replace spaces with hyphens.

In [ ]:
# This is the string you'll be working on:
S = "This is an example string"

# Write your code below
# Print the fifth letter in the string

fifth = S[4]

print ("Fifth letter in the string S is: " + fifth)

# Capitalize all letters:

S_upper = S.upper()

print ("Capitalized string: " + S_upper)

# Replace spaces with hyphens

S_replaced = S.replace(" ", "-")

print ("Hyphenated string: " + S_replaced)

Fifth letter in the string S is:
Capitalized string: THIS IS AN EXAMPLE STRING
Hyphenated string: This-is-an-example-string

## Exercise 3 - Dictionaries

Given the dictionaries D and E defined below, do the following:
* Add John's and Tom's surnames with "Surname" as a key.
* Change John's city to NY.
* Create a list F with both dictionaries as it's elements.
* Print out the age of the first person on the list F.

In [ ]:
# Those are the dictionaries you will be working on
D = {'Name': 'John', "Age": 17, "City": "LA"}
E = {'Name': 'Tom',  "Age": 16, "City": "SF"}

# Write your code below
# Add John's and Tom's surnames with "Surname" as a key

D["Surname"] = "Jon"
E["Surname"] = "Tomm"

print ("John's surname is: " + D["Surname"] )
print ("Tom's surname is: " + E["Surname"])

# Change John's city to NY

D["City"] = "NY"

print ("John's city is: " + D["City"])

# Create a list F with both dictionaries as it's elements 
F = [D,E]

# Print out the age of the first person on the list F

print("First person on list F is: " + str(F[0]["Age"]))

John's surname is: Jon
Tom's surname is: Tomm
John's city is: NY
First person on list F is: 17

## Exercise 4 - Looping
Given the list G (of dictionaries) below, do the following:
* Write a for loop that prints out all names.
* Write another for loop that adds up all ages and print the sum at the end.

In [ ]:
# This is the list of dictionaries you will be using
G = [{'Name': 'John', 'Age': 17}, {'Name': 'Tom', 'Age': 16}, {'Name': "Kate", 'Age': 17}, {'Name': 'Laura', 'Age': 18}]

# Write your code below.

# Write a for loop that prints out all names.

for a in G:
  print(a["Name"])

# Write another for loop that adds up all ages and print the sum at the end.
age = 0
for a in G:
  age += a["Age"]

print("Sum of Ages: " + str(age))

John
Tom
Kate
Laura
Sum of Ages: 68

## Exercise 5 - Conditional

* Given the list D (of integers) below, do the following:
* Print only those values that are even in the list

In [ ]:
# This is the list of integers you will be using
D = {4,10, 13, 18, 21}

# Write your code below.

# Write a loop with if condition to print even values
for x in D:
  if x % 2 == 0:
    print(x)

4
10
18

## Exercise 6 - Functions

Write a function gte10() that does the following things:
* The function takes a number x into the function.
* In the function, deduct 10 from x.
* If the result of the deduction is greater than or equal to 0, the function returns 1.
* Otherwise, it returns 0.

In [ ]:
# Add function implementation here
def gte10(x):
    res = x-10
    if(res >=0):
      return 1
    else:
      return 0


# Don't modify this part
print (gte10(10))
print (gte10(11))
print (gte10(9))
print (gte10(0))
print (gte10(-1))

1
1
0
0
0

# Exercise 7 - Inputs and Modules

Write code that does the following things:

* Take a raw input string and request for a number
* Check if string is a number
* Converts input string to int
* Use pythonâ€™s intrinsic math library to get the square root of the input number.

In [ ]:
#Import math library
import math

# Take an input string
input_num = input("Enter number: ")

#Check if string is a number
print(input_num.isnumeric())

#Convert string to number
num = int(input_num)

#Print square root of number
print("Square root of " + input_num + " is "+ str(math.sqrt(num)))